@use 'styles/variables.scss' as *;

.dropdown {
  position: relative;
  width: 100%;
}

.list {
  position: absolute;
  z-index: 10;
  margin-top: $space-xxs;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  background-color: $color-light;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: $border-radius;
}

.emptyOption {
  cursor: default;
  padding: $space-s $space-xs;
  font-weight: 400;
  font-size: $font-size-s;
  line-height: 125%;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;

  transition: transform 0.2s ease;

  &:hover {
    background: none !important;
  }
}

.iconButtonOpen {
  transform: rotate(180deg);
}
