@use 'styles/variables.scss' as *;
@use 'styles/mixins.scss' as *;

.clubContent {
  display: flex;
  flex-direction: column;
  gap: $space-xl;

  .header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: $space-xl;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  .descriptionBlock {
    flex: 1;
    min-width: 0;
  }

  .clubButton {
    align-self: flex-end;
    min-width: 200px;
  }
}
