@use 'styles/variables.scss' as *;

.checkbox {
  appearance: none;
  position: relative;
  width: 40px;
  height: 40px;
  background: $color-light;
  border: 1px solid $color-light;
  margin: 0;
  padding: 0;
  border-radius: $border-radius;
  cursor: pointer;
}

.checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='23' viewBox='0 0 30 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66663 9.35484L11.4625 20L28.3333 1.66666' stroke='%23518581' stroke-width='3.33333' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.checkbox:checked::after {
  width: 30px;
  height: 23px;
}

.checkbox:not(:disabled):hover {
  border: 1px solid $color-primary;
}

.checkbox:disabled {
  background-color: #F5F5F5;
  cursor: auto;
}

.checkbox:disabled::after {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='23' viewBox='0 0 30 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66663 9.35484L11.4625 20L28.3333 1.66667' stroke='%23c4c4c4' stroke-width='3.33333' /%3E%3C/svg%3E");
}
