@use 'styles/variables.scss' as *;
@use 'styles/mixins.scss' as *;

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.articleCard {
  display: flex;
  background: $color-light;
  border-radius: $border-radius;
  overflow: hidden;
  height: 100%;
  transition: box-shadow 0.2s;

  margin-bottom: 20px;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

  @include tablet {
    flex-direction: row;
  }

  .image {
    flex-shrink: 0;
    width: 300px;
    aspect-ratio: 16 / 10;
    background: $color-grey;
    overflow: hidden;

    @include tablet {
      width: 280px;
      aspect-ratio: auto;
      min-height: 180px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &Body {
    padding: $space-m;
    display: flex;
    flex-direction: column;
    gap: $space-m;
    flex: 1;

    .meta {
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: $space-xs;
    }
  }
}
