@use 'styles/mixins.scss' as *;
@use 'styles/variables.scss' as *;

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 14px 36px;
  display: flex;
  flex-direction: column;
  gap: $space-xl;

  @include laptop {
    padding: 14px 16px;
  }
}
