@use './variables' as *;
@import './Roboto/fonts.css';

html,
body {
  font-family: $font-family, sans-serif;
  margin: 0;
  padding: 0;
  background: $color-background;
  color: $color-dark;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

input,
input:focus {
  outline: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
