// Шрифты
$font-family: "Roboto", sans-serif;

// Цвета
$color-primary: #518581;
$color-primary-hover: #86aaa7;
$color-primary-active: #487773;
$color-secondary: #afadb5;
$color-light: #fff;
$color-dark: #000;
$color-grey: #d9d9d9;
$color-background: #f3f3f3;
$color-error: #c62828;

// Отступы
$space-xxs: 8px;
$space-xs: 12px;
$space-s: 14px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;

// Размеры шрифтов
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-section-title: 32px;
$font-size-title: 44px;

// Радиусы
$radius-circle: 50%;
$border-radius: 10px;

// Размеры лоадеров
$loader-size-s: 16px;
$loader-size-m: 32px;
$loader-size-l: 40px;

