@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;

.header {
  width: 100%;
  background-color: $color-light;

  &Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: $space-l;

    @include laptop {
      gap: $space-xxs;
    }
  }

  .desktopNav {
    display: flex;
    align-items: center;

    @include tablet {
      display: none;
    }
  }
}
