@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;

.header {
  width: 100%;
  background-color: $color-light;

  &Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: $space-l;

    @include laptop {
      gap: $space-xxs;
    }
  }

  .desktopNav {
    display: flex;
    align-items: center;

    @include tablet {
      display: none;
    }
  }

  .panelNav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: $space-xxs;

    a {
      display: block;
      padding: $space-s $space-xxs;
      border-radius: $border-radius;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $color-primary-overlay;
      }
    }
  }
}

.panelControls {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: $space-m;
  border-top: 1px solid $color-grey;
}
