@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;

.header {
  width: 100%;
  background-color: $color-light;

  &Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: $space-l;

    @include laptop {
      gap: $space-xxs;
    }
  }

  .desktopNav {
    @include tablet {
      display: none;
    }
  }

  .desktopControls {
    display: flex;
    align-items: center;
    gap: $space-m;

    @include tablet {
      display: none;
    }
  }
}

.burgerMenuControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $space-m;
  border-top: 1px solid $color-grey;
}
