@use 'styles/mixins.scss' as *;

.clubCard {
  flex: 0 1 min(350px, 100%);
  min-width: 0;

  @include tablet {
    flex: 1 1 100%;
  }

  .actionSlot {
    @include mobile {
      width: 100%;
    }
  }
}
