@use 'styles/variables.scss' as *;

.option {
  cursor: pointer;
  padding: $space-s $space-xs;
  font-weight: 400;
  font-size: $font-size-s;
  line-height: 125%;
}

.option:hover {
  background-color: $color-grey;
}

.optionSelected {
  font-weight: 500;
  color: $color-primary;
}
