@use 'styles/mixins.scss' as *;

.clubsList {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;

    .cardWrapper {
      flex: 0 1 min(350px, 100%);
      min-width: 0;

      @include tablet {
        flex: 1 1 100%;
      }
    }
  }
}
