@use 'styles/mixins.scss' as *;

.socialLinks {
  .socialLink {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
    margin-right: 20px;

    .socialName {
      @include mobile {
        margin-right: 0;
      }
    }
  }

  .socialName {
    @include mobile {
      display: none;
    }
  }

  @include mobile {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
