@use 'styles/variables.scss' as *;

.oAuthButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-m;
  margin: $space-xl 0;
}

.buttons {
  display: flex;
  gap: $space-m;
  flex-wrap: wrap;
  justify-content: center;
}

.label {
  font-size: $font-size-s;
}
