@use 'styles/variables.scss' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0 12px 12px;
  border-left: 2px solid var(--color-border, #eee);
}

.actions {
  display: flex;
  gap: $space-xxs;
}
